{% extends 'user_template/base_template.html' %}
{% load static %}

{% block content %}
<div class="card card-secondary">
     <!--!!!!FORM!!!!-->
     <form method="post" action="{% url 'create_business' %}"  enctype="multipart/form-data">
  {% csrf_token %}
  {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                      <h4>error</h4>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                      </div>
                                    {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                      <h4>success</h4>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                      </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
  

        <div class="card-body login-card-body">
                <center><h2 class="login-box-msg" style="font-style: oblique;">Go<strong>Wizard</strong></h2>
                <h4 class="login-box-msg" style="font-weight: 100;font-style: italic;font-size: medium;">Make your Business on Online</h4></center>
        </div>
        <div class="shadow-lg p-1 mb-5 bg-white rounded"> 
          <div class="card-body">
            <div class="align-self-center">
              
          
                  <div class="card-body register-card-body">
               
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" class="form-control" placeholder="xyz capitals"  name="companyname"  required />
                              </div>
                            </div>
                            </div>
                                               
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Phone Number</label>
                                      <input type="text" placeholder="Enter phone number" class="form-control" name="phoneno" required>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <label>Landline </label>
                                  <input type="text" placeholder="Enter your landline number" class="form-control" name="lineno" required>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>E-mail I'd</label>
                                      <input type="email" placeholder="example@gmail.com" name="emailid" class="form-control" required />
                                    </div>
                                </div>
                                    <div class="col-sm-6">
                                      <label>Website</label>
                                      <input type="text" placeholder="url/" name="webpage" class="form-control"/>
                                    </div>
                              </div>
                               

                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <!-- select -->
                                      <label>Business Field</label>
                                      <select class="form-control" name="business_type">
                                        <option hidden  >Business Areas</option>
                                        <option value="others">--others--</option>
                                        <option value="agriculture">Agriculture</option>
                                        <option value="fitness">Fitness</option>
                                        <option value="homeservices">Home Services</option>
                                        <option value="foods">Food</option>
                                        <option value="techservices">Tech Services</option>
                                        <option value="teaching">Teaching</option>
                                        <option value="travels">Travels</option>
                                      </select>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <label>Business Key</label>
                                  <input type="text"  class="form-control" placeholder="Describe about your Business" name="businesskey"  required />
                              </div>
                              </div>                   
     
                              <div class="row">
                                <div class="col-sm-6">                       
                                  <div class="form-group">       
                                      <label for="customFile">Profile Picture</label>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile" name="profile">
                                      <label class="custom-file-label" for="customFile">Select Image</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                  </div>
                    
                                               
            </div>
          </div>
          <center>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-block btn-outline-info" name="profile" >Register!! </button> 
          </div></center>
        </div>
        
      </form>
</div>
            <!-- /.card -->
<!-- <div class="form-group">
<label>Custom Select</label>
 <select class="custom-select">
<option>option 1</option>
<option>option 2</option>
<option>option 3</option>
<option>option 4</option>
 <option>option 5</option></select>
</div>  -->
{% endblock %}